In [33]:
from autosklearn.classification import AutoSklearnClassifier
import numpy as np
import pandas as pd
import sklearn

In [67]:
data = pd.read_csv("mini_automl_05.csv", header=None)

In [68]:
data['cat'] = np.random.choice(2, size=10000)

In [69]:
data['cat'] = data['cat'].map({0: 'male', 1:'female'})

In [82]:
data.shape[0]

AttributeError: 'int' object has no attribute 'dtype'

In [90]:
import pymongo
import gridfs

In [91]:
MONGO_URI = "mongodb://asklbUser:dryarmfootballstreet@127.0.0.1:27018/"
client = pymongo.MongoClient(MONGO_URI)
db = client.asklb_test

In [92]:
fs_id = db.datasets.find_one()['gridfs_id']

In [98]:
fs = gridfs.GridFS(db)
pd.read_csv(fs.get(fs_id), header=None)

        0     1    2         3     4       5
0     1.0  39.0  7.0   77516.0   9.0  female
1     1.0  50.0  6.0   83311.0   9.0    male
2     1.0  38.0  4.0  215646.0  11.0    male
3     1.0  53.0  4.0  234721.0   1.0  female
4     1.0  28.0  4.0  338409.0   9.0  female
...   ...   ...  ...       ...   ...     ...
9995  0.0  38.0  4.0   80303.0  15.0  female
9996  1.0  25.0  4.0  419658.0  11.0    male
9997  1.0  21.0  4.0  319163.0  15.0    male
9998  1.0  37.0  4.0  126743.0   3.0  female
9999  1.0  39.0  4.0  301568.0  15.0  female

[10000 rows x 6 columns]

In [79]:
data['cat'][1:].factorize()

(array([0, 0, 1, ..., 0, 1, 1]), Index(['male', 'female'], dtype='object'))

In [71]:
str(b'cat_Test')

"b'cat_Test'"

In [73]:
data.head()

     0     1    2         3     4     cat
0  1.0  39.0  7.0   77516.0   9.0  female
1  1.0  50.0  6.0   83311.0   9.0    male
2  1.0  38.0  4.0  215646.0  11.0    male
3  1.0  53.0  4.0  234721.0   1.0  female
4  1.0  28.0  4.0  338409.0   9.0  female

In [76]:
data.to_csv("cat_test.csv", header=False, index=False)

In [77]:
pd.read_csv("cat_test.csv", header=None)

        0     1    2         3     4       5
0     1.0  39.0  7.0   77516.0   9.0  female
1     1.0  50.0  6.0   83311.0   9.0    male
2     1.0  38.0  4.0  215646.0  11.0    male
3     1.0  53.0  4.0  234721.0   1.0  female
4     1.0  28.0  4.0  338409.0   9.0  female
...   ...   ...  ...       ...   ...     ...
9995  0.0  38.0  4.0   80303.0  15.0  female
9996  1.0  25.0  4.0  419658.0  11.0    male
9997  1.0  21.0  4.0  319163.0  15.0    male
9998  1.0  37.0  4.0  126743.0   3.0  female
9999  1.0  39.0  4.0  301568.0  15.0  female

[10000 rows x 6 columns]

In [ ]:
y = data.pop(0)

In [47]:
feat_types = ["Categorical" if x == object else "Numerical" for x in data.dtypes]

In [48]:
cat_dict = {}
for i, col in enumerate(data.columns):
    if feat_types[i] == 'Categorical':
        factored_col, idx = data[col].factorize()
        data[col] = factored_col
        cat_dict[col] = list(idx)

In [49]:
X_train = data[0:5000]
y_train = y[0:5000]

X_test = data[5000:]
y_test = y[5000:]

In [65]:
y.iloc[[1000,2003]]

1000    1.0
2003    0.0
Name: 0, dtype: float64

In [50]:
cat_dict

{'cat': ['male', 'female']}

In [38]:
X_train['cat'].dtype == np.int64

True

In [35]:
automl_args = {}
automl_args['time_left_for_this_task'] = 70
automl = AutoSklearnClassifier(**automl_args)
automl.fit(X_train, y_train, feat_type=feat_types)

/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)

[WARNING] [2020-05-01 14:40:20,896:EnsembleBuilder(1):d1a292e2079e08dee02f263ce92ba814] No models better than random - using Dummy Score!
[WARNING] [2020-05-01 14:40:20,904:EnsembleBuilder(1):d1a292e2079e08dee02f263ce92ba814] No models better than random - using Dummy Score!
Time limit for a single run is higher than total time limit. Capping the limit for a single run to the total time given to SMAC (69.588840)

/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)

[WARNING] [2020-05-01 14:40:38,418:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger
[WARNING] [2020-05-01 14:40:38,418:smac.intensification.intensification.Intensifier] Challenger was the same as the current incumbent; Skipping challenger

/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)
/home/tliu/.conda/envs/asklb/lib/python3.6/site-packages/autosklearn/evaluation/train_evaluator.py:197: RuntimeWarning: Mean of empty slice
  Y_train_pred = np.nanmean(Y_train_pred_full, axis=0)

1
['/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000000.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000001.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000002.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000003.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000004.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000005.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000006.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000007.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000008.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000009.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000010.ensemble', '/tmp/autosklearn_tmp_31083_7537/.auto-sklearn/ensembles/1.0000000011.ensemble']

AutoSklearnClassifier(delete_output_folder_after_terminate=True,
           delete_tmp_folder_after_terminate=True,
           disable_evaluator_output=False, ensemble_memory_limit=1024,
           ensemble_nbest=50, ensemble_size=50, exclude_estimators=None,
           exclude_preprocessors=None, get_smac_object_callback=None,
           include_estimators=None, include_preprocessors=None,
           initial_configurations_via_metalearning=25, logging_config=None,
           metadata_directory=None, ml_memory_limit=3072, n_jobs=None,
           output_folder=None, per_run_time_limit=360,
           resampling_strategy='holdout',
           resampling_strategy_arguments=None, seed=1, shared_mode=False,
           smac_scenario_args=None, time_left_for_this_task=70,
           tmp_folder=None)

In [34]:
predictions = automl.predict(X_test)
print("Accuracy score", sklearn.metrics.accuracy_score(y_test, predictions))

Accuracy score 0.7702

In [80]:
import gridfs